/* ----------> All <---------- */
:root {
    --background-white: #f4f4f9;
    --background-light-gray: red;

    --button-color: red;
    --button-color-hover: red;

    --a-color: red;
    --a-color-hover: red;

    --hn-color: #333;

    --a-p-size: 20px;
    --h1-size: 20px;
    --h2-size: 20px;
    --h3-size: 20px;
}

input,
textarea,
button {
    outline: none;
}

a {
    text-decoration: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: var(--background-white);
    color: var(--hn-color);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    flex-grow: 1;
    margin: 100px 70px;
    position: relative;
}

/* ----------> header.php <---------- */

header{
    background-color: #333;
    color: #fff;
    padding: 1.5rem 0;
    text-align: center;
}

header nav a {
    color: #fff;
    margin: 0 15px;
    font-size: 1rem;
    font-weight: bold;
    padding: 0.5rem 1rem;
    border-bottom: none;
}

header nav a:hover{
    border-bottom: 2px solid #fff;
}

/* ----------> footer.php <---------- */

footer{
    background-color: #333;
    color: #fff;
    padding: 1.5rem 0;
    text-align: center;
}

footer p {
    color: #fff;
    margin: 0 15px;
    font-size: 1rem;
    font-weight: bold;
}
